BODY {
background-image: url("colors_00012.jpg"); }
/*TABLE { background-color: #0000aa }
TD { background-color: #ff0000 }*/
h3 { background-color: #00ff00 }

div.sample {
width:1400px; height:900px;
margin:0px; padding:0px; border:1px solid black;
background-color:lightgray;
text-align:justify;
text-justify: inter-ideograph;
}


span {
display: inline-block;
width: 11em;
}

h1 {
border-style: double;;
}
h3 {
}

.button {
    font-size: 25px;
}

ul {
  margin-left: -1px; /* 一番左のボーダー幅と同じ値の負のマージン */
}

li {
  padding: 0 10px;
  display: inline-block;; /* 横並びにさせる */
  border-left: 1px solid #00f; /* 区切り線 */
}
